.cart {
  padding: 1rem;
  margin-bottom: 6rem;
  background-color: #f4f7fc;
  height: 100%;
}

.cart-nonLoggedIn {
  padding: 0.5rem;
  margin-bottom: 10rem;
  /* background-color: #f4f7fc; */
  background-color: #ffffff;
  height: 100%;
}

.empty-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  gap: 1rem;
  background: white;
}

.empty-cart-img {
  height: 14rem;
  width: 14rem;
}

.cart-img {
  height: 100%;
}

.end-footer-cart {
  margin-top: 2rem;
}
