body {
  /* background-color: #f4f7fc !important; */
  margin: 0 !important;
  padding: 0 !important;
}

.netwrok-status-offline {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
