.loyalty-bg-image {
  width: 100%;
}

.loyalty-card-content {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.loyalty-main-card {
  padding: 1rem;
  border-radius: 0.5rem !important;
  margin: 20px 10px 0px 10px !important;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px !important;
}

.loyalty-balance-box {
  display: flex;
  justify-content: center;
}

.loyalty-icon-menu {
  display: flex;
  justify-content: space-between;
}

.loyalty-gift-icon-box {
  background-color: rgb(12, 121, 36);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  padding: 0px 10px;
  height: 30px;
  margin: 3% 1% 0% 85% !important;
  z-index: 1000;
}

.menu-back-heading-loyalty {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  top: 0;
  margin-bottom: 100px;
  background-color: white !important;
  z-index: 1000;
  padding: 15px 0px 15px 10px;
  margin-bottom: 10px !important;
}

.loyalty-total-points {
  display: flex;
  justify-content: space-between;
}

.loyalty-cart-insufficient-value {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  height: 4rem;
  border-radius: 1rem;
  background-color: #fff;
  margin: 20px 10px 0px 10px;
}

.loyalty-redeem-btn {
  margin-top: 0.2rem;
  display: flex;
  justify-content: center;
}

.loader-loyalty-redeemable-reason {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
